*:target, :target, dt:target, span:target,
span:target~h1, span:target~h2, span:target~h3, span:target~h4 {
  background-color: transparent !important;
  border: 1px dashed rgba(255, 180, 80, 0.5);
  border-radius: 2px;
}

:target > * {
  background-color: transparent !important;
}

.caption-number {
  font-weight: bold;
}

.code-block-caption .caption-text {
  margin-left: 0.3em;
}
